body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #444;
}

.sidebar ul li i {
    margin-right: 15px;
}

.sidebar ul li:hover {
    background-color: #444;
    cursor: pointer;
}

.sidebar ul li.active {
    background-color: #555;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh;
}

/* Gaya untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

.btn-edit {
    background-color: #5bc0de;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-delete {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: #31b0d5;
}

.btn-delete:hover {
    background-color: #c9302c;
}

.input-add {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
